USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 4/19/2019 7:01:22 PM ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TestDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TestDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 4/19/2019 7:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[Contact_ID] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [varchar](200) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[PhoneNo] [varchar](50) NOT NULL,
	[Email] [varchar](200) NULL,
	[Age] [int] NULL,
	[Country] [varchar](200) NULL,
	[Facebook] [varchar](300) NULL,
	[Twitter] [varchar](300) NULL,
	[Linkedin] [varchar](300) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Contact_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Contact_ID], [ContactName], [Address], [PhoneNo], [Email], [Age], [Country], [Facebook], [Twitter], [Linkedin]) VALUES (1, N'Khan', N'Garden West', N'03232375949', N's_k_niazi@live.com', 25, N'Pakistan', N'Shahbaz Khan Niazi', N'khan_niazi9', N'shahbaz khan niazi')
SET IDENTITY_INSERT [dbo].[Contact] OFF
USE [master]
GO
